:root {
    --foreground: #323334;
    --primary: #A86A3D;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--foreground);
    /* background-color: #ffffff; */
  }

  /* Header styles */

  .logo-2 {
    display: none;
  }

  .header-icons img {
    height: 20px;
    padding: 0px 10px 0px 10px;
  }

  .main-nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  .main-nav a {
    text-decoration: none;
    color: var(--foreground);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }

  .main-nav li.active a {
    color: #A86A3D;
  }

  .nav-link {
    padding: 0px 25px 0px 25px !important;
  }

  /* Service Bar */
  .service-item img {
    height: 20px;
  }

  .service-item span {
    font-size: 12px;
    color: #00000080;
  }

  /* Hero Section */
  .hero-section {
    background-color: #DBD0CCCC;
    padding: 3rem 0;
    border: solid #000000 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  .hero-image img{
    height: 400px;
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h2 {
    color: var(--primary);
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
  }
  
  .btn-outline {
    background: transparent;
    border: 1px solid var(--foreground);
    border-radius: 0%;
    color: var(--foreground);
  }
  
  .btn-outline:hover {
    background: var(--foreground);
    color: #ffffff;
  }
  
  .btn-dark {
    background: var(--foreground);
    border: 1px solid var(--foreground);
    color: #ffffff;
  }
  
  .btn-dark:hover {
    background: transparent;
    color: var(--foreground);
  }

  /* Hot Deals */
  .carousel-component {
    width: 190px;
    height: 250px; 
  }
  .carousel-image img {
    width: 190px;
    height: 250px;
  }

  .carousel-component-footer{
    background-color: #B7B79A99;
    width: 190px;
    height: 70px;
  }

  .rounded-circle{
    background-color: #C4C4C4;
    width: 6.25px;
    height: 6.25px;
    border: none;
  }

  /* Featured Products Section */
  
  .Product-card-1 {
    height: 360px;
    background-color: #FAFAFA;
  }

  .Product-card-2 {
    height: 360px;
    background-color: #EAE9E7;
  }

  .Product-card-11 {
    height: 200px;
    background-color: #FAFAFA;
  }

  .Product-card-11 img {
    height: 200px;
  }

   .card-decor {
    position: relative;
    background-image: url('../images/new.png');
    background-size: cover;
    background-position: center;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card-overlay {
    padding: 1.5rem;
    color: #fff;
    text-align: left;
    max-width: 280px;
  }

  .card-overlay h5 {
    font-weight: bold;
    color: white;
  }

  .card-overlay p {
    font-size: 0.9rem;
  }

  .btn-outline-light {
    border-color: white;
    color: white;
  }

  .btn-outline-light:hover {
    background-color: white;
    color: black;
  }

  /* bed-section */

  .bed-banner {
    position: relative;
    background-image: url('../images/bed.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    display: flex;
    align-items: center;
  }
  
  .product-overlay {
    background: rgba(255, 255, 255, 0.9);
    max-width: 400px;
    margin-left: 135px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
  }
  .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #7B5136;
  }
  .product-old-price {
    text-decoration: line-through;
    color: #7B5136;
    margin-left: 0.5rem;
    font-size: 0.95rem;
  }
  .product-description {
    color: #6c757d;
    margin-top: 1rem;
  }

  /* Top Rating */
  .product-rating {
    height: 300px;
    margin-top: 20px;
  }

  .rate {
    width: 190px;
  }


  /* NEWSLETTER SECTION */
  .subscribe-section {
    padding: 3rem 0;
  }

  .btn-dark-custom {
    background-color: var(--foreground);
    color: white;
    border-radius: 0%;
    font-weight: bold;
  }
  .input-group .btn {
    border: none;
  }

  .foot p{
   
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
  }

  .midia{
    display: flex; 
    justify-content: center;
    gap: 70px;
  }

    /* Responsiviness */

    /* Header */
    @media (max-width: 1200px) {
      .nav-link {
        padding: 0px 10px 0px 10px !important;
      }
      .hero-section{
        border: none;
        box-shadow: none;
      }
    }

    /* HOT DEALS */
    @media (max-width: 992px){
        .hot-deals{
          display: block !important;
        }
    }

    @media (max-width: 400px) {
      .carousel-component {
        width: 170px;
      }
      .carousel-image img {
        width: 170px;
      }
    
      .carousel-component-footer{
        background-color: #B7B79A99;
        width: 170px;
      }
    }

    /* HERO */
    @media (max-width: 576px) {
      .logo-2 {
        font-size: 16px;
      }
      .hero-text p {
        font-size: 14px;
      }
      .hero-text h2 {
        font-size: 20px !important;
      }
      .hero-image img{
        width: 200px !important;
        height: 150px !important;
      }
      .icon-link img{
        padding: 0px 20px 0px 20px !important;
      }
    }
    
    /* Product Section */


    @media (max-width: 992px){
      .line {
        display: none;
      }
      .logo {
        display: none;
      }
      .logo-2 {
        display: block;
      }
      .service-bar {
        display: none;
      }
      .hero-image img{
        height: 200px;
      }
      .hero-text h2 {
        font-size: 20px;
      }
      .hero-text p {
        font-size: 14px;
      }
      .product-rating {
        height: 150px;
      }
    
      .rate {
        width: 100px;
      }
    }
    
    /* BED BANNER */
    @media (max-width:992px){
      .bed-banner{
        height: 200px;
      }
      .product-overlay{
        justify-content: center !important;
        margin-left: 55px;
      }

      /* Newsletter */
      @media (max-width:992px){
        .load-more{
          display: none;
        }
        .sign-up{
          display: block !important;
        }
      }

      /* Footer */
      @media (max-width:992px){
        .footer-1{
          display: none;
        }
        .footer-2{
          display: block !important;
          color: #fff !important;
        }
      }
    }